# System
.DS_Store
Thumbs.db
@eaDir

# IDEs & tools
.vscode
.idea
.fleet
.phpactor.json
.phpunit.*

# Node & vendor
node_modules
vendor

# Laravel runtime files
.env*
Homestead.*
public/hot
public/storage
public/build
storage/*.key
storage/pail
storage/debugbar

# Logs
*.log

# Certs & keys
*.crt
*.key
