# Node & PHP dependencies
node_modules
vendor

# Laravel specific
.env
*.log
.DS_Store

# Storage
storage/*
!storage/app/
!storage/framework/
!storage/logs/

# Docker dev files
docker-compose.override.yml
docker-compose.prod.yml

# Synology DSM
@eaDir

# Git
.git
