# System
.DS_Store
Thumbs.db
@eaDir

# IDEs
/.idea/
/.vscode/
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/.fleet/
/.zed/

# Node & vendor
node_modules
vendor

# Laravel
.env*
/storage/*.key
/storage/pail
/storage/debugbar/
/public/storage
/public/hot
/public/build
Homestead.json
Homestead.yaml
auth.json

# Logs
*.log

# Certificates
*.crt
*.key
