# System
.DS_Store
Thumbs.db
@eaDir

# IDEs
/.idea/
/.vscode/
/.phpactor.json
/.phpunit.cache
/.phpunit.result.cache
/.fleet/
/.zed/

# Laravel
.env*
/vendor/
/node_modules/
/storage/*.key
/storage/pail
/public/storage
/public/hot
/public/build
Homestead.json
Homestead.yaml
auth.json
supervisord.pid

# Logs
*.log
